@media all and  (max-widht: 500px) {
    .header_title_left {
        font-size: 35px;

    }
    .header__desc_left {
        font-size: 15px;
        line-height: 1.5;

    }
    .header__img {
        width: 450px;

    }
    .header__btn {
        font-size: 15px;
        width: 50%;
        height: 40px;

        
    }
    .vector {
        width: 45px;
        height: 45px;

    }
    #vector_1 {
        width: 60px;
        height: 35px;
    }
    #vector_2 {
        top: 100px;

    }
    #vector_3 {
        left: -30px;

    }
    #vector_4 {
        bottom: 5px;
        right: 20px;
    }.services__title_main {
        width: 100%
    }
    .services__item {
        width: 50%;
    }
    .services__list {
        justify-content: center;
    }


    .portfolio__item: :nth-child(odd) {
        display: none;
    }
    /* .portfolio__item: :nth-child(3) {
        display: none;
    } */

    .portfolio__list {
        justify-content: center;

    }
    .portfolio__item {
        width: 70%;
        margin-top: 25px;
    }
    .info-block__title {
        font-size: 38px;
        width: 100%;
    }
    .info-block__btn {
        font-size: 15px;
    }

 }
 @media all and (max-widht 400px) {
    .navbar__logo {
        width: 35%;
    }
    .header_title_left{
        font-size: 30px;

    }
    #vector_1 {
        top: 25px; 
    }
    #vector_2 {
        top: 15px;
        right: -10px;

    }
    #vector_3 {
        width: 70px;
        height: 70px;
        left: 10px;
        bottom: -35px;
    }
    #vector_4 {
        right: -25px;

    }
    .services__title_main {
        font-size: 30px;
    }
    .services__title {
        font-size: 20px;
        margin-top: 15px;
    }
    .services__desc {
        font-size: 15px;

    }
    .info-block__title {
        font-size: 30px;

    }
    .portfolio__title {
        font-size: 36px;


    }
    .footer__list {
        width: 50%;

    }
    .footer__logo {
        width: 100px;
        height: 30px;
    }


 }

 @media all and (max-widht:320px) {
    .header__img {
        width: 300px;
    }
    .header__btn {
        width: 65%;
        padding: 3%;
    }
    .vector {
        width: 35%;
        height: 35%;
    }
    #vector_1 {
        height: 20px;

    }
    #vector_3 {
        left: -5px;
    }
    .services__icon {
        height: 60px;
        width: 60px;

    }
    .footer__list {
        width: 55%;
    }
 }